<html>


    <title>OpenCynthV</title>


    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

    </head>


    <body>

        <div class="cameraView">
            <img src="{{ url_for('video_feed') }}">
        </div>
    
        <div class="modulesSetup" height="50%">
            <button id= "Hold" onclick="location.href='/hold';">Hold</button>
        </div>

        <div class="changeParams">
            <input type="range" min="0" max="100" value="50" class="slider" id="attackSlider">

        </div>

        <script>
            function update(){

               fetch('/update')
                    .then(()=>{
                        fetch('/get_graph')
                            .then((response)=>{ 
                                //build webaudio graph
                                response.json().then((graph_json) => {
                                    console.log(graph_json);
                                    // graph = JSON.parse(graph_json);
                                    // console.log(graph);
                                });
                            });
               });
            }

            var intervalId = setInterval(update, 100);    
        </script>

    </body>


</html>